html, body {
	background-color: white;
}

body {
	padding: 20px
}


.Login #logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
.Login button:before {
	background: url("../images/spotifyLogo.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    color: #fff;
    height: 30px;
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}
.Login button{
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #51C768; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 65px;
	font-family:'Courier New', Courier, monospace;
	font-size: 30px;
	line-height: 22px;
	text-align: center;
	
	}

.Login h1{
	margin-top: 50px;
	text-align: center;
	font-size: 120px;
	color: #8B9358;
	font-family: 'Courier New', Courier, monospace;

}

.PlayList #addPlayListButton{
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height:  80px;
	background-color: #009688;

	
}

.PlayList #appBar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #E0E0E0;
	width: 50%;
}

.PlayList #typography{
	font-weight: bold;
		color:black;
}

.PlayList #logo {
	width: 5%;
	position: absolute;
	right: 0px;
	margin-right: 10px;
}

.PlayList #PlayListItem {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.Seeds #appBar1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #009688;
	width: 50%;
}


.Seeds #typography{
	font-weight: bold;
		color:white;
}

.Seeds #addSeedButton{
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height:  80px;
	background-color: #009688;
	color:white;

}

.Seeds #appBar2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #009688;
	width: 50%;
}

.Seeds #slider1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 50%;
	color: '#009688'
}


.Seeds #GrowListButton:before {
	background: url("../images/spotifyLogo.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    color: #fff;
    height: 30px;
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}

.Seeds #GrowListButton{
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #9C9C9C; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 65px;
	font-family:'Courier New', Courier, monospace;
	font-size: 30px;
	line-height: 22px;
	text-align: center;
}